@import '../../_default';

.alert-danger {
  color: #d82320;
  background-color: #f2dede;
  text-align: center;
  margin: 15px 0;
}

.loginText {
  font-size: larger;
  @media(max-width: 420px) {
    font-size: unset;
  }
}

h1 {
  margin: 0;
}
