  @import '_vars';

.nav {
  list-style-type: none;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -8px;
  padding: 0;
  overflow: hidden;
  background-color: #333 !important;

}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

.nav li a:hover:not(.active) {
  background-color: #111;
}

.nav .active {
  background-color: $standard;
}

body{
  background: #0a1a24;
}

.logout {
    background-color: #fad100;
    float: right !important;
}

  .partyInfo {
  display: inline-block;
  color: #fafafa;
  float: right !important;
}
