<div id="myModal" class="modal" *ngIf="bShow">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" (click)="closePopup()">&times;</span>
      <h2>{{ header }}</h2>
    </div>
    <div class="modal-body" [innerHtml]="innerHtml">
    </div>
    <div class="modal-body">
      <ng-container *ngIf="checkGenerateBody">
        <p *ngFor="let listOfElementsToDisplay of generateBodyData">
          {{ listOfElementsToDisplay.value }}
          <span class="specialElement" (click)="bodyElementWasClicked(listOfElementsToDisplay.id)">&times;</span>
        </p>
      </ng-container>
    </div>
    <div class="modal-footer">
      <h3>{{ footer }}</h3>
    </div>
  </div>
</div>
