@import '../../_default';

@mixin flex($j:initial, $a:initial, $w:initial, $c:initial) {
  display: flex;
  flex-wrap: $w;
  justify-content: $j;
  align-items: $a;
  align-content: $c;
}

ol {
  list-style-type: none;
  padding: 20px 36px;
  font-weight: 500;
  li {
    counter-increment: number;
    @include flex(space-between, center);
    height: 45px;
    color: $white;
    span {
      &:not(:last-child) {
        margin-right: 2em;
        @media(max-width: 700px) {
          margin-right: 1em;
        }
      }
      &:first-child {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: $white;
        &:before {
          content: counter(number);
          margin-right: 2em;
          color: $white;
          display: inline-block;
          text-align: end;
          width: 20px;
        }
      }
    }
  }
  @media(max-width: 550px) {
    padding: 16px;
  }
}

@media(max-width: 700px) {
  .album-art {
    width: 100%;
    img {
      width: auto;
      max-width: 100%;
      margin: -100px auto 10px auto;
      display: block;
    }
  }
  .album-details {
    // display: inline-block;
    padding: 10px;
    float: left;
    max-width: 100%;
  }
}

.album-tracks {
  background: rgba(white, .1);
  border: none;
}

.album-art {
  float: left;
  width: 220px;
  margin-right: 20px;
  * {
    border-radius: 3px;
  }
  img {
    width: 100%;
    margin-bottom: 10px;
    margin-top: -80px;
  }
}

.actions {
  @include flex();
  flex: 1 1 100%;
}

.play {
  @include flex(center, center);
  color: white;
  background: var(--color);
  padding: 10px;
  text-transform: uppercase;
  flex: 1 0 50%;
  cursor: pointer;
}

/* .speakers{
  height: 20px;
  width: 20px;
  background-image: url(http://audeficheux.com/projects/carousel/src/images/speaker.png);
  background-repeat: no-repeat;
  vertical-align: middle;
  float: right;
  margin-top: 15px;
} */

.progress-bar-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.progress-bar-text {
  min-width: 40px;
  text-align: center;
}

.progress-bar {
  width: 100%;
}
