@import '../../_default';
@import '../../_animations';

.logo {
  margin: 0 20px;
  display: inline-block;
}

.logo:hover {
  cursor: pointer;
}

.active img:hover {
  opacity: .3;
  @media(max-width: 800px) {
    opacity: .5;
  }
}

.disabled {
  background: #000;
  opacity: .5;
  @media(max-width: 800px) {
    display: none;
  }
}

.disabled:hover {
  opacity: .5;
  cursor: no-drop;
  background: #000;
}

.youtube {
  height: 90px;
  width: 128px;
}

.spotify {
  height: 90px;
  width: 90px;
}

.soundcloud {
  height: 94px;
  width: 160px;
}

.background {
  + section {
    margin-top: 10vmin;
  }
}

.searchBar {
  opacity: 0;
  display: none;
}

.fadeIn.imgContainer, .leftCorner.fadeIn {
  display: inline-block;
}

.selectedSearchEngine > :first-child {
  opacity: .5;
}

.imgContainer {
  opacity: 0;
  display: none;
  width: 100%;
}

.leftCorner {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: white;
  border-radius: 10px;
  display: none;
}

.saveButton {
  width: auto;
}

// need to overwrite
input[type=button] {
  background-color: #8c0303;
}
