<div class="background"></div>
<app-login [(bLogin)]="bLogin" *ngIf="!bLogin"></app-login>
<section *ngIf="bLogin">
  <div class="album-info">
    <div class="album-details">

      <div style="width: 100%" (click)="test()" class="youtube"><h3>Youtube</h3></div>
      <div class="element" [ngClass]="{'fadeIn' : bTest}">
        <input [(ngModel)]="searchString"><br>
        <img *ngIf="showLoading" src="assets/waitingGIF.gif">
        <app-img-gallery *ngIf="listOfVideosFromYouTube.length > 0" [data]="listOfVideosFromYouTube" [(selectedVideos)]="selectedVideos"></app-img-gallery>
      </div>
      <app-popup [header]="popupHeader" [footer]="popupFooter" [(bShow)]="bChange" [checkGenerateBody]="true" [generateBodyData]="popupBodyData" (generateBodyFunctionCall)="deleteTrack($event[0])"></app-popup>
    </div>
  </div>
  <app-history [(selectedVideos)]="selectedVideos"></app-history>
  <button (click)="addSelectedToList()">Save stuff</button>
</section>
